In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("Docs/data2.csv")

In [3]:
df_harmonised = df.copy()

In [4]:
df_harmonised

,CRIM,ZN,INDUS,CHAS,NOX,RM,DIS,TAX,PTRATIO,LSTAT,age_category,rad_category
0,0.00632,18.0,2.31,0.0,0.538,NaN,4.0900,296.0,NaN,4.98,old,low
1,0.02731,0.0,7.07,0.0,0.469,6.421,4.9671,NaN,17.8,9.14,old,low
2,0.02729,0.0,7.07,0.0,0.469,7.185,4.9671,NaN,17.8,4.03,old,low
3,0.03237,0.0,2.18,0.0,0.458,6.998,6.0622,222.0,18.7,2.94,middle-aged,NaN
4,0.06905,0.0,2.18,0.0,NaN,7.147,6.0622,222.0,18.7,5.33,middle-aged,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.0,0.573,6.593,2.4786,273.0,21.0,9.67,old,low
502,0.04527,0.0,11.93,0.0,0.573,6.120,2.2875,273.0,21.0,9.08,old,low
503,0.06076,0.0,11.93,0.0,0.573,6.976,2.1675,273.0,21.0,5.64,old,low
504,0.10959,NaN,11.93,0.0,0.573,6.794,2.3889,273.0,21.0,6.48,old,low
505,NaN,0.0,11.93,0.0,0.573,6.030,2.5050,NaN,NaN,7.88,old,low

In [5]:
def replace_nan_with_mean(column):
    try:
        column = pd.to_numeric(column)
        column.fillna(column.mean(), inplace=True)
    except:
        pass
    return column

df_harmonised = df_harmonised.apply(replace_nan_with_mean)

In [6]:
df_harmonised.rename(columns={"age_category": "AGE", "rad_category": "RAD"}, inplace=True)

In [7]:
df_harmonised

,CRIM,ZN,INDUS,CHAS,NOX,RM,DIS,TAX,PTRATIO,LSTAT,AGE,RAD
0,0.006320,18.000000,2.31,0.0,0.538000,6.266619,4.0900,296.000000,18.426432,4.98,old,low
1,0.027310,0.000000,7.07,0.0,0.469000,6.421000,4.9671,407.861702,17.800000,9.14,old,low
2,0.027290,0.000000,7.07,0.0,0.469000,7.185000,4.9671,407.861702,17.800000,4.03,old,low
3,0.032370,0.000000,2.18,0.0,0.458000,6.998000,6.0622,222.000000,18.700000,2.94,middle-aged,NaN
4,0.069050,0.000000,2.18,0.0,0.553795,7.147000,6.0622,222.000000,18.700000,5.33,middle-aged,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.062630,0.000000,11.93,0.0,0.573000,6.593000,2.4786,273.000000,21.000000,9.67,old,low
502,0.045270,0.000000,11.93,0.0,0.573000,6.120000,2.2875,273.000000,21.000000,9.08,old,low
503,0.060760,0.000000,11.93,0.0,0.573000,6.976000,2.1675,273.000000,21.000000,5.64,old,low
504,0.109590,11.611472,11.93,0.0,0.573000,6.794000,2.3889,273.000000,21.000000,6.48,old,low
505,3.466581,0.000000,11.93,0.0,0.573000,6.030000,2.5050,407.861702,18.426432,7.88,old,low

In [8]:
df_harmonised = pd.get_dummies(df_harmonised, columns=["AGE"], prefix = "AGE")

In [9]:
df_harmonised = pd.get_dummies(df_harmonised, columns=["RAD"], prefix = "RAD")

In [10]:
df_harmonised

,CRIM,ZN,INDUS,CHAS,NOX,RM,DIS,TAX,PTRATIO,LSTAT,AGE_middle-aged,AGE_old,AGE_young,RAD_high,RAD_low,RAD_medium
0,0.006320,18.000000,2.31,0.0,0.538000,6.266619,4.0900,296.000000,18.426432,4.98,0,1,0,0,1,0
1,0.027310,0.000000,7.07,0.0,0.469000,6.421000,4.9671,407.861702,17.800000,9.14,0,1,0,0,1,0
2,0.027290,0.000000,7.07,0.0,0.469000,7.185000,4.9671,407.861702,17.800000,4.03,0,1,0,0,1,0
3,0.032370,0.000000,2.18,0.0,0.458000,6.998000,6.0622,222.000000,18.700000,2.94,1,0,0,0,0,0
4,0.069050,0.000000,2.18,0.0,0.553795,7.147000,6.0622,222.000000,18.700000,5.33,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.062630,0.000000,11.93,0.0,0.573000,6.593000,2.4786,273.000000,21.000000,9.67,0,1,0,0,1,0
502,0.045270,0.000000,11.93,0.0,0.573000,6.120000,2.2875,273.000000,21.000000,9.08,0,1,0,0,1,0
503,0.060760,0.000000,11.93,0.0,0.573000,6.976000,2.1675,273.000000,21.000000,5.64,0,1,0,0,1,0
504,0.109590,11.611472,11.93,0.0,0.573000,6.794000,2.3889,273.000000,21.000000,6.48,0,1,0,0,1,0
505,3.466581,0.000000,11.93,0.0,0.573000,6.030000,2.5050,407.861702,18.426432,7.88,0,1,0,0,1,0

In [11]:
df_harmonised.to_csv("Docs/data2_harmonised.csv", index=False)